body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 

.key{
    background-color: rgb(2, 2, 2);
    width: 70px;
    height: 70px;
    text-align: center;
    margin-top: 100px;
    margin: 10px;
    font-size: 30px;
    color: rgb(250, 199, 14);
    transition: all 1.6s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}
 
 
}
#inner-container{
    
   
    margin-top: 1000px;
    width: 100%;
}

.playing{
    border: 5px solid rgba(10, 234, 234, 0.963);
   transform: scale(1.1);
    box-shadow: 0 0 10px rgb(9, 174, 144);
}